@import "../../colors"
@import "../../fonts"
.contact-form
    display: grid
    grid-template-areas: "title title" "name name" "phone phone" "email email" "schedule schedule" "comment comment" "send notification"
    grid-template-rows: minmax(1fr, 50px) 1fr 1fr 1fr 1fr 2fr 1fr
    box-shadow: 0 4px 8px 0 rgba($shdw-image-massage, 0.2), 0 6px 20px 0 rgba($shdw-image-massage, 0.19)
    padding: 1rem 2rem
    margin: 1rem 0
    grid-column-gap: 1rem
    max-width: 38rem
    flex-grow: 2
    overflow: hidden

    &__title
        grid-area: title
        @include font-body

    &__name
        grid-area: name

    &__phone
        grid-area: phone

    &__email
        grid-area: email

    &__schedule
        grid-area: schedule

    &__comment
        grid-area: comment
        font-size: 14.5px
        height: 83px
        @include font-button
        padding: 7px 5px
        background-color: $bg-input
        border: 1px solid rgba($black, 0.1)
        padding: 0.5em 1em
        margin-bottom: 1.5em

        &:focus
            outline: none !important
            background-color: $bg-focus-input

    &__submit
        grid-area: send
    &__notification
        grid-area: notification

@media screen and (min-width: 768px)
    .contact-form
        margin-right: 6vw
        margin-left: auto
