.carousel-slide
    height: 100%
    width: 100%

    &__image

        &--portrait
            position: absolute
            bottom: 0
            left: -70%
            height: 100%
            width: auto !important

        &--landscape
            position: absolute
            bottom: -70%
            left: 0%
            height: auto !important
            width: 100%

.carousel .slide
    overflow: hidden