.navbar
    display: flex
    align-items: stretch
    justify-content: space-between
    padding: 1rem

    &__logo
        margin-left: 2rem
        flex: 1
        color: grey

    &__nav
        display: flex
        justify-content: space-around
        flex: 3
    &__link
        text-decoration: none
        color: grey

        

