$melanzane: #130212
$violet-eggplant: #BB17B6
$cannon-pink: #9a4985
$white: #fff
//#6f3551
//#3f162a
$light-blue: #00C9B7
$gray: #939393
$matterhorn: #503c4b
$black: #000
$valencia: #d62a2a
$emperor: #555
$silver: #ccc
$alabaster: #fbfbfb
$dusty-gray: #999
$fruit-salad: #51A351
/** common **/
$color-highlight: $violet-eggplant
$font-error-text: $valencia
$font-input: $emperor
$bdr-input: $silver
$bg-input: $alabaster
$bg-focus-input: $white
$bg-button: $light-blue
$color-button: $white

/** notification **/
$color-notification: $white
$bg-default-notification: $silver
$shdw-notification: $dusty-gray
$bg-success-notification: $fruit-salad
$bg-error-notification: $valencia
/** navbar **/
$bg-navbar: $light-blue
$shadow-navbar: $violet-eggplant
$font-links-navbar: $white
$font-links-active-navbar: $violet-eggplant

/** massages **/
$font-tab-massages: $white
$bg-tab-massages: $melanzane
$bg-tab-active-massages: $violet-eggplant
$color-title-massages: $melanzane
$shdw-tab-content-massages: $gray
$shdw-image-massage: $matterhorn

/** offers **/
$bg-offers: $cannon-pink
$bg-highlighted-offers: $light-blue
$color-offers: $white

/** products **/
$bg-price-product: $violet-eggplant

/** contact **/
$font-body-contact: $black
$font-icon-item-contact: $violet-eggplant
