@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Taviraj&display=swap')

$font-taviraj: Taviraj serif
$font-lato: Lato sans-serif

$font-heading: normal 24px $font-taviraj
$font-body: normal 16px $font-lato
$font-button: bold 13px $font-lato